html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
}

.emoji {
  font-weight: 400;
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
}
